.container-recuperacao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/imagens/Recuperar-senha.png");
  background-size: cover;
  background-position: center;
}


.modal-recuperacao {
  width: 100%;
  max-width: 600px;
  padding: 24px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.title-header img {
  width: 64px;
  height: auto;
  margin-bottom: 24px;
}

.title-header h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--drc-text);
  margin: 0;
}

.title-header p {
  font-size: 16px;
  color: var(--drc-text);
  margin: 0;
  text-align: center;
  padding: 8px 24px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control,
.input-recuperar {
  padding: 8px;
  border: 1px solid var(--drc-border);
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  height: 48px;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 16px;
}

.btn {
  width: 100%;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-recuperar {
  background: #E5005C;
}

.btn-recuperar:hover {
  background: #BB004B;
}

.btn-back {
  background: transparent;
  color: #BB004B;
  border: 1.5px solid #BB004B;
}

.btn-back:hover {
  color: #96003C;
  border: 1.5px solid #96003C;
  background: #e2e2e292;
}
