<div  *ngIf="permissaoUsuario === 'Administrador' || permissaoUsuario === 'Coordenador' || permissaoUsuario === 'Estagiario'">
<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>{{ isEditMode ? 'Editar colaborador' : 'Cadastrar colaborador' }}</span>
    </div>

   <div class="header">
    <h2>Dados gerais</h2>
    <hr color="#DCDCDC">
   </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="cadastroForm">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" formControlName="nome" class="form-control" placeholder="Digite o nome completo" required>
            </div>
            <div class="input-duo">
                <div class="form-group">
                    <label for="cpf">Cpf</label>
                    <input type="text" id="cpf" name="cpf" formControlName="cpf" class="form-control" placeholder="xxx.xxx.xxx-xx" required>
                </div>
                <div class="form-group">
                    <label for="data de nascimento">Data de nascimento</label>
                    <input type="date" id="data de nascimento" name="data de nascimento" formControlName="data de nascimento" class="form-control" placeholder="Digite" required>
                </div>
            </div>
            <div class="form-group">
                <label for="e-mail coorporativo">E-mail coorporativo</label>
                <input type="email" id="e-mail coorporativo" name="e-mail coorporativo" formControlName="e-mail coorporativo" class="form-control" placeholder="Digite o e-mail coorporativo" required>
            </div>
            <div class="input-duo">
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="tel" id="telefone" name="telefone" formControlName="telefone" class="form-control" placeholder="(xx) xxxxx-xxxx" required>
                </div>
                <div class="form-group">
                    <label for="instagram">Instagram</label>
                    <input type="text" id="instagram" name="instagram" formControlName="instagram" class="form-control" placeholder="Digite o seu username" required>
                </div>

            </div>


            <div class="form-group">
                <label for="setor">Permissão</label>
                <app-select-padrao
                  label="Selecionar permissão"
                  [options]="permissoes"
                  [(selectedValue)]="selectedPermissao">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label for="setor">Setor</label>
                <app-select-padrao
                  label="Selecionar o setor"
                  [options]="setores"
                  [(selectedValue)]="selectedSetor">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="data de admissão">Data de admissão</label>
                    <input type="date" id="data de admissao" name="data de admissao" formControlName="data de admissao" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="chave PIX">Chave PIX</label>
                    <input type="text" id="chave PIX" name="chave PIX" formControlName="chave Pix" class="form-control" placeholder="Digite a chave pix" required>
                </div>
            </div>

            <div class="form-group">
                <label>Status</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="ativo" name="status" value="ATIVO" formControlName="status" checked>
                        <label for="ativo">Ativo</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="inativo" name="status" value="INATIVO" formControlName="status">
                        <label for="inativo">Inativo</label>
                    </div>
                </div>
            </div>

    <div class="header">
        <h2>Documentos</h2>
        <hr color="#DCDCDC">
    </div>

    <div class="header">
        <h2>Credenciais de acesso</h2>
        <hr color="#DCDCDC">
    </div>

        <div class="form-group">
            <label for="E-mail pessoal">E-mail pessoal</label>
            <input type="email" id="E-mail pessoal" name="E-mail pessoal" formControlName="E-mail pessoal" class="form-control" placeholder="Digite o e-mail pessoal" required>
        </div>
        <div class="input-duo">
            <div class="form-group">
                <label for="senha">Senha</label>
                <div class="password-container">
                    <input type="password" id="senha" name="password" formControlName="password" class="form-control" placeholder="Digite uma senha" required>
                    <span class="toggle-password" (click)="togglePasswordVisibility('password')">
                        <img [src]="passwordVisible['password'] ?  'assets/icones/eye-open.svg' : 'assets/icones/eye-closed.svg'" >
                    </span>
                </div>

            </div>
            <div class="form-group">
                <label for="confirmar-senha">Confirmar senha</label>
                <div class="password-container">
                    <input type="password" id="confirmar-senha" name="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirme sua senha" required>
                    <span class="toggle-password" (click)="togglePasswordVisibility('confirmPassword')">
                        <img [src]="passwordVisible['confirmPassword'] ?  'assets/icones/eye-open.svg' : 'assets/icones/eye-closed.svg'">
                    </span>
                </div>

            </div>
        </div>


            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    {{ isEditMode ? 'Atualizar colaborador' : 'Cadastrar colaborador' }}
                </button>
            </div>
        </form>
    </div>

    <div class="alerts">
        <div class="alerts-container alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div class=" alerts-container alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>
</div>
</div>